[submodule "src/cutf"]
	path = src/cutf
	url = https://github.com/enp1s0/cutf
[submodule "src/wmma_extension"]
	path = src/wmma_extension
	url = https://github.com/wmmae/wmma_extension
[submodule "test/mateval"]
	path = test/mateval
	url = https://github.com/enp1s0/mateval
[submodule "test/gpu_monitor"]
	path = test/gpu_monitor
	url = https://github.com/enp1s0/gpu_monitor
